<div class="container">
  <div class="row justfy-content-start">
    <div class="col-sm-10">
      <h1>Preguntas</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justfy-content-center">
    <div class="col-sm-10">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <strong><p>pregunta 1</p></strong>
              <p>esta es la respuesta de la pregunta 1</p>
            </td>
          </tr>
          <tr>
            <td>
              <strong><p>pregunta 2</p></strong>
              <p>esta es la respuesta de la pregunta 2</p>
            </td>              
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
